.board {
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 8px;
    @include widthauto(90%);
    height: 70vh;
    background-color: $color-main-medium;
    margin-top: $margin-xl;
    border-radius: 10px;
    padding: 8px;

   

    &__item {
        width: 100%;
        background-color: $color-main-light;
        border-radius: 4px;
        @include dflex(center,center);
        
        &>span {
            width: 90%;
            height: 90%;
            background-color: aliceblue;
            @include dflex();
            border-radius: 4px;
            font-size: 2rem;
            
        }
        
    }

}